<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
        <%- include ('resources/head.html') %>
    </head>

    <body class="body_cv">
        <div class="container">
            <div class="row row-full head_cv text-center">
                <%- include ('resources/header.ejs') %>
                <div class="col-md-7 mx-auto">
                    <h1 class="mb-3" id="name">
                        Weronika <span class="text-primary">Pacyniak</span>
                    </h1>
                    <div class="subheading mb-3 basic_info">
                        Działkowa 23a · Konstantynów Łódzki, 95-050 · 692 433 443 ·
                        <a class="text-dark" href="mailto:name@email.com">zrob_sobie_normalnego_maila@email.com</a>
                    </div>
                    <p id="about_cv">
                        Generalnie nie wiem, co robię na tych studiach. 
                        Już większość czasu mam wrażenie, że się nadaję, ale spójrzmy prawdzie w oczy xddd
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not 
                        only five centuries, but also the leap into electronic typesetting, remaining essentially un</p>
                    <h1 class="subtitle">
                        Doświadczenie zawodowe
                    </h1>
                    <div class="flex-grow-1 work">
                        <h3 class="mb-0">Stanowisko</h3>
                        <div class="subheading mb-3">Firma</div>
                        <p>I tu jakiś opis jak mnie już gdzieś kiedyś przyjmą. Chociaż pewnie wyląduje w biedronce, ale wtedy każda firma gigantycznie straci nie mając takiej bad bitch w swojej załodze. Really, spójrzmy prawdzie w oczy, ze względu na to jaka jestem powinni mnie wszędzie przyjąć pomimo braku kwalifikacji.</p>
                    </div>
                    <div class="flex-shrink-1 mb-3"><span class="text-primary">Od kiedy - Do kiedy</span></div>
                </div>
                <div class="col-md-4">
                    <img class="img1_main" src="resources/img/woman.jpg" alt="obrazek z kobietą">
                </div>
            </div>
            <div class="row cv2 row-full text-center">
                <div class="col-md-4">
                    <img class="img1_main" src="resources/img/desk.jpg" alt="obrazek z kobietą">
                </div>
                <div class="col-md-7 mx-auto">
                    <h1 class="subtitle2">
                        Wykształcenie
                    </h1>
                    <div class="school">
                        <div class="flex-grow-1">
                            <h2 class="mb-0">Politechnika Łódzka</h2>
                            <div class="subheading mb-2">Studia inżynierskie</div>
                            <div>Informatyka Stosowana - Inżynieria Oprogramowania i Analiza Danych</div>
                        </div>
                        <div class="flex-shrink-0 mb-3"><span class="text-primary">Październik 2019 - Luty 2023</span></div>
                        <div class="flex-grow-1">
                            <h2 class="mb-0">Publiczne Liceum Politechniki Łódzkiej</h2>
                            <div class="subheading mb-2">Szkoła średnia</div>
                            <div> Klasa z rozszerzeniem matematyka - fizyka - język angielski</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Wrzesień 2016 - Kwiecień 2019</span></div>
                    </div>
                    <h1 class="subtitle2 mt-4">
                        Umiejętności
                    </h1>
                    <div class="abilities">
                        <h2 class="mb-3">Programming Languages & Tools:</h2>
                        <p>Python, c++</p>
                        <h2 class="mb-3">Języki:</h2>
                        <p> Język angielski, język francuski</p>
                        <h2 class="mb-3">Pozostałe:</h2>
                        <p>Prawo jazdy: kategoria B</p>
                     </div>   
                    <h1 class="subtitle2">
                        Zainteresowania
                    </h1>
                    <p>Malowanie - akwarele, Joga, Czytanie książek</p>
                </div>
            </div>
          </div>
          <%- include ('resources/scripts.html') %>
    </body>

</html>