<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    <h1 class="mb-0" id="name">
                        Weronika
                        <span class="text-primary">Pacyniak</span>
                    </h1>
                    <div class="subheading mb-1">
                        Działkowa 23a · Konstantynów Łódzki, 95-050 · 692 433 443 ·
                        <a href="mailto:name@email.com">zrob_sobie_normalnego_maila@email.com</a>
                    </div>
                    <p id="about_cv">
                        Generalnie nie wiem, co robię na tych studiach. 
                        Już większość czasu mam wrażenie, że się nadaję, ale spójrzmy prawdzie w oczy xddd</p>
                    <h1 id="subtitle">
                        Doświadczenie zawodowe
                    </h1>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Stanowisko</h3>
                        <div class="subheading mb-3">Firma</div>
                        <p>I tu jakiś opis jak mnie już gdzieś kiedyś przyjmą. Chociaż pewnie wyląduje w biedronce, ale wtedy każda firma gigantycznie straci nie mając takiej bad bitch w swojej załodze. Really, spójrzmy prawdzie w oczy, ze względu na to jaka jestem powinni mnie wszędzie przyjąć pomimo braku kwalifikacji.</p>
                    </div>
                    <div class="flex-shrink-1 mb-3"><span class="text-primary">Od kiedy - Do kiedy</span></div>
                    <h1 id="subtitle">
                        Wykształcenie
                    </h1>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Politechnika Łódzka</h3>
                        <div class="subheading mb-3">Studia inżynierskie</div>
                        <div>Informatyka Stosowana - Inżynieria Oprogramowania i Analiza Danych</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Październik 2019 - Luty 2023</span></div>
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Publiczne Liceum Politechniki Łódzkiej</h3>
                        <div> Klasa z rozszerzeniem matematyka - fizyka - język angielski</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Wrzesień 2016 - Kwiecień 2019</span></div>
                    <h1 id="subtitle">
                        Umiejętności
                    </h1>
                    <div class="subheading mb-3">Programming Languages & Tools:</div>
                    <ul>
                        <li>Python</li>
                        <li>c++</li>
                    </ul>
                    <div class="subheading mb-3">Języki:</div>
                    <ul>
                        <li>Język angielski</li>
                        <li>Język francuski</li>
                    </ul>
                    <div class="subheading mb-3">Pozostałe:</div>
                    <ul>
                        <li>Prawo jazdy: kategoria B</li>
                    </ul>
                    <h1 id="subtitle">
                        Zainteresowania
                    </h1>
                    <ul>
                        <li>Malowanie - akwarele</li>
                        <li>Joga</li>
                        <li>Czytanie książek</li>
                    </ul>
                </div>
            </div>
          </div>
          <%- include ('resources/scripts.html') %>
    </body>

</html>