<!DOCTYPE html>
<html>
    <head>
        <title>Adding book</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    
                </div>
            </div>
        </div>
        
    </body>

</html>