<!DOCTYPE html>
<html>
    <head>
        <title>Book track</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    <select class="form-select" id="choose_year" aria-label="Default select example">
                        <option selected value = 0 >Wybierz rok...</option>
                        <option value = 2020>2020</option>
                        <option value = 2021>2021</option>
                    </select>
                    <div>
                        <h3>Przeczytane w tym roku: </h3>
                        <% for(let i=0; i < books.length; i++) { %>
                            <% if (books[i].year == 2020) { %>
							<li ><%=books[i].title%></li>
                            <% } %>
						<% } %>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

</html>