<!DOCTYPE html>
<html>
    <head>
        <title>Book track</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" >
                    <div class="col-xs-6 col-lg-4 col-xl-2 mx-auto" id="choose-year"> <!-- id tutaj do css --> 
                        <form class= "row g-3" action ="/year" method="get" id="form_choose_year">
                            <h3>Statystyki czytelnicze: </h3>
                            <div class="col-12">
                                <select class="form-select" name="choosen_year" on-change="this.form.submit()">
                                    <option selected value = 0 >Wybierz rok...</option>
                                    <option value = 2020>2020</option>
                                    <option value = 2021>2021</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-light" type="submit">Potwierdź</button>
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    <%- include ('resources/scripts.html') %>    
    </body>

</html>