<!DOCTYPE html>
<html>
    <head>
        <title>Book Page</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    <div> <%=current_book.title%> </div>
                </div>
            </div>
        </div>
         
    </body> 
    <%- include ('resources/scripts.html') %>
</html>