<!DOCTYPE html>
<html>
    <head>
        <title>Book track</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <!-- container - zbiorczy pojemnik responsywnej siatki -->
        <div class="container"> 
            <!-- responsywna siatka ma wiersze, która oddziela zestawy kolumn - wrapper dla kolumn -->
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-8 mx-auto" id="main_col">
                    <p class="text-center">
                        ksionszki
                    </p>
                    <select class="form-select" id="choose_year" aria-label="Default select example">
                        <option selected value = 0 >Wybierz rok...</option>
                        <% var years = []
                        for (let i = 0; i <books.length; i++) 
                        { for (let j = 0; j < years.length; j++) {
                            if(books[i].year != years[i])
                                years.push(books[i].year);
                        };
                        for (let j = 0; j < years.length; j++) {  %>
                            <option value = "<%=years[i]%>"><%=years[i]%></option>
                            <%} %>
                      </select>
                </div>
            </div>
              <!-- img-fluid uczyni obrazki responsywnymi -->
        </div>
    </body>

</html>