<!DOCTYPE html>
<html>
    <head>
        <title>Bullet journal</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <!-- container - zbiorczy pojemnik responsywnej siatki -->
        <div class="container">

            <!-- responsywna siatka ma wiersze, która oddziela zestawy kolumn - wrapper dla kolumn -->
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-8 mx-auto">
                    <p class="text-center">
                        bujo
                    </p>
                </div>
            </div>
            

                <!-- img-fluid uczyni obrazki responsywnymi -->
          </div>
    </body>

</html>