<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
        <%- include ('resources/head.html') %>
    </head>

    <body>
        <%- include ('resources/header.ejs') %>
        <!-- container - zbiorczy pojemnik responsywnej siatki -->
        <div class="container">

            <!-- responsywna siatka ma wiersze, która oddziela zestawy kolumn - wrapper dla kolumn -->
            <div class="row">
                <div class="col-xs-12 col-lg-9 col-xl-10 mx-auto" id="main_col">
                    <blockquote class="blockquote text-center">
                        <p class="lead"><em>Co spróbowałbyś zrobić, gdybyś wiedział, że nie może Ci się nie udać?</em></p>
                        <footer class="blockquote-footer">dr <cite title="Source Title">Robert H Schuller</cite></footer>
                    </blockquote>

                    <p id='title_main' class= "text-center">APRIL TO DO:</p>
                    <div id = "checkboxes_main">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            'Home' page
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            'About me' page
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Connect with database
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            List - choosing year
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Chosen year -> books from it (list) + graph with stat of pages
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Page - info about book
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                            Form with adding a book
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                            Book plans
                            </label>
                        </div>
                    </div>

                    <blockquote class="blockquote text-center">
                        <p class="lead"><em>True courage is pursuing your dream, even when everyone else says it’s impossible.</em></p>
                        <footer class="blockquote-footer">Barbie as Corinne<cite title="Source Title"> in The Three Musketeers</cite></footer>
                    </blockquote>
                </div>
            </div>
          </div>
          <%- include ('resources/scripts.html') %>
    </body>

</html>