<!DOCTYPE html>
<html>
    <head>
        <title>wpacyniak</title>
        <%- include ('resources/head.html') %>
    </head>

    <body class="body_main">  
      <div class="container">
        <div class="row-full head_main">
            <%- include ('resources/header.ejs') %>
            <div class="row">
              <div class="col-md-4 text-center">
                <img class="img1_main" src="resources/img/jeans.jpg" alt="obrazek z jeansami">
              </div>  
              <div class="col-md-7 text-center mt-5">
                <h2 class="subheading " id="firstText">“Remember to look up at the stars and not down at your feet. Try to make sense of what you see and wonder about what makes the universe exist. Be curious. And however difficult life may seem, there is always something you can do and succeed at. It matters that you don’t just give up.”</h2>
                Stephen Hawking
              </div>  
          </div>
        </div>
      </div>
                <!--<div class="col-xs-12 col-lg-9 col-xl-10 mx-auto">
                    <p id='title_main' class= "text-center">APRIL TO DO:</p>
                    <div id = "checkboxes_main">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            'Home' page
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            'About me' page
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Connect with database
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            List - choosing year
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Chosen year -> books from it (list) + graph with stat of pages
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Page - info about book
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Form with adding a book
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                            <label class="form-check-label" for="defaultCheck1">
                            Book plans
                            </label>
                        </div>
                    </div>

                    <blockquote class="blockquote text-center">
                        <p class="lead"><em>True courage is pursuing your dream, even when everyone else says it’s impossible.</em></p>
                        <footer class="blockquote-footer">Barbie as Corinne<cite title="Source Title"> in The Three Musketeers</cite></footer>
                    </blockquote>
                </div>
            </div>
          </div> -->
          <%- include ('resources/scripts.html') %>
    </body>

</html>