<!DOCTYPE html>
<html>
    <head>
        <title>wpacyniak</title>
        <%- include ('resources/head.html') %>
    </head>

    <body class="body_main">  
      <div class="container">
        <div class="row row-full head_main">
            <%- include ('resources/header.ejs') %>
            <div class="col-md-4 text-center">
            <img class="img1_main" src="resources/img/jeans.jpg" alt="obrazek z jeansami">
            </div>  
            <div class="col-md-7 text-center mt-5">
            <h2 class="subheading " id="firstText">“Remember to look up at the stars and not down 
                at your feet. Try to make sense of what you see and wonder about what makes the 
                universe exist. Be curious. And however difficult life may seem, there is always 
                something you can do and succeed at. It matters that you don’t just give up.”</h2>
            Stephen Hawking
            </div>  
        </div>
      </div>
          <%- include ('resources/scripts.html') %>
    </body>

</html>