body {
        background-color: #ffb4a2;
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 120%;
}

#main_col {
        background-color: #FFFFFF;
        min-height: 100vh;
        position: relative;
}

#choose-year {
        text-align: center;
        margin-top: 40vh;
        transform: translateY(-50%);
        background-color: #FFDAD6;
        border-radius: 25px;
        padding-bottom: 20px;
}

.navbar-brand {
        font-weight: 600;
}

#title_main {
        font-size: 30px;
}

#checkboxes_main {
        font-size: 20px;
}

.text-primary {
        color: #FF8F85 !important;
}

#name {
        text-transform: uppercase;
        font-weight: 400;
}

.subheading {
        text-transform: uppercase;
}

#about_cv {
        font-size: 17px;
}

#subtitle {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 35px;
}

#cover_book {
        width:28%;
        padding: 2%;
        object-fit: cover;
        position: absolute;
        right: 5%;
        display: inline-block;
 }

 #form_choose_year {
        /* background-color: #FFDAD6;
        border-radius: 25px; */
        padding: 20px;
 }

 #book_info {
        position:relative;
        padding: 5%;
        width: 70%;
 }

 .book_info_title {
        font-weight:bold;
 }

 #GraphBook {
         margin-bottom:40px;
 }

 .button-booktrack {
        width: 90% !important;
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ffb4a2 !important;
    border-color: #ffb4a2 !important;
}
